<template name="header">
  <div class="ui large vertical inverted icon sidebar menu" id="menu">
    <a class="hide item">
      <i class="close icon"></i>
      Close
    </a>
  </div>
  <div class="ui fixed transparent inverted main menu" role="navigation">
    <div class="container">
      <a class="title item" href="{{pathFor 'home'}}">Cuda</a>
      <div class="right menu">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
            <li class="dropdown">
              {{> notifications}}
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</template>