html {
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-size: 15px;
  min-height: 100%;
}

body {
  background: #FCFCFC;
  color: #555;
  margin: 0;
  min-width: 320px;
  padding: 42px 0 0 0;
}

.main.menu {
  top: 0;
}

#main {
  position: relative;
  overflow: hidden;
}