<template name="home">
  {{#if currentUser}}
  <div class="ui page grid">
    <div class="ui column">
      <h2 class="ui header">Content Rules</h2>
      <div class="ten wide column">
        {{> ruleList}}
      </div>
    </div>
  </div>
  <div class="ui page grid">
    <div class="ui column">
      <h2 class="ui header">Edit Content Rule</h2>
      <div class="ui stackable relaxed grid">
        <div class="six wide column">
         {{> requestForms}}
        </div>
        <div class="ten wide column">
          {{> editContentRule}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>